<h1> School Class Form </h1>
<%= form_for @school_class do |f| %>
<ul>
  <li>
  <%= f.label :title %>
  <%= f.text_area :title %>
  </li>
  <li>
  <%= f.label :room_number %>
  <%= f.text_area :room_number %>
  </li>
  <li>
  <%= f.submit %>
  </li>
</ul>
<% end %>
